<h1>Alliance Count</h1>

<table>
  <% @alliance_count.each do |alliance| %>
    <tr>
      <td><%= alliance[0] %></td>
      <td><%= alliance[1] %></td>
    </tr>
  <% end %>
</table>

<table>
  <% @corporation_count.each do |corporation| %>
    <tr>
      <td><%= corporation[0] %></td>
      <td><%= corporation[1] %></td>
    </tr>
  <% end %>
</table>
