<h1>Alliance Count</h1>

<table>
  <% @alliance_count.each do |alliance_name, alliance_count| %>
    <tr>
      <td><%= alliance_name %></td>
      <td><%= alliance_count %></td>
    </tr>
  <% end %>
</table>

<table>
  <% @corporation_count.each do |corporation_name, corporation_count| %>
    <tr>
      <td><%= corporation_name %></td>
      <td><%= corporation_count %></td>
    </tr>
  <% end %>
</table>
